#headline{
    font-size: 450%;
    margin: auto;
}
.code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 125%;
    font-weight:520;
    display:inline-block;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  p, span{
      margin-top:1px;
      font-size:larger;
  }

  .ex{
      font-weight: bolder;
  }
  
  .output{
    color: blue;
}
